<header>
  <p class="header-text">Pedra / Papel / Tesoura</p>
  <p class="header-text"><span>SCORE:</span> Jogador {{ results.player }} - Computador {{ results.computer }}</p>
</header>

<main>
  <div class="card-principal">
    <div class="card-tipos">
      <div class="card">
        <div class="card-title">
          <img src="../assets/images/icons8-rock-60.png" style="height: 60px; margin-right: 7px;" alt=""> <span
            class="item-nome">Pedra</span>
        </div>
        <div class="card-subtitle" style="margin-top: -4px">
          <p>Pedra ganha de tesoura</p>
        </div>
        <button class="card-button btn-sm" (click)="play('pedra')">
          Jogar com pedra
        </button>
      </div>
      <div class="card">
        <div class="card-title">
          <img src="../assets/images/icons8-paper-50.png" style="height: 48px; margin-right: 7px;" alt=""> <span
            class="item-nome">Papel</span>
        </div>
        <div class="card-subtitle">
          <p>Papel ganha de pedra</p>
        </div>
        <button class="card-button btn-sm" (click)="play('papel')">
          Jogar com papel
        </button>
      </div>
      <div class="card">
        <div class="card-title">
          <i class="bi bi-scissors" style="font-size: 48px; margin-right: 7px;"></i> <span
            class="item-nome">Tesoura</span>
        </div>
        <div class="card-subtitle">
          <p>Tesoura ganha de papel</p>
        </div>
        <button class="card-button btn-sm" (click)="play('tesoura')">
          Jogar com tesoura
        </button>
      </div>
    </div>
  </div>
</main>
<footer>
  <p class="footer-p1">Resultado:</p>
  <p *ngIf="computerResult">Você escolheu {{ userResult }}</p>
  <p class="footer-p2" *ngIf="computerResult">O Computador escolheu {{ computerResult }}</p>
  <div class="result-div" *ngIf="userResult === 'pedra' && computerResult === 'papel'">
    <img src="../assets/images/icons8-rock-60.png" alt="">
    <p class="versus">X</p>
    <img src="../assets/images/icons8-paper-50.png" alt="">
  </div>
  <div class="result-div" *ngIf="userResult === 'pedra' && computerResult === 'tesoura'">
    <img src="../assets/images/icons8-rock-60.png" alt="">
    <p class="versus">X</p>
    <i class="bi bi-scissors" style="font-size: 48px; margin-right: 7px; color: black;"></i>
  </div>
  <div class="result-div" *ngIf="userResult === 'papel' && computerResult === 'pedra'">
    <img src="../assets/images/icons8-paper-50.png" alt="">
    <p class="versus">X</p>
    <img src="../assets/images/icons8-rock-60.png" alt="">
  </div>
  <div class="result-div" *ngIf="userResult === 'papel' && computerResult === 'tesoura'">
    <img src="../assets/images/icons8-paper-50.png" alt="">
    <p class="versus">X</p>
    <i class="bi bi-scissors" style="font-size: 48px; margin-right: 7px; color: black;"></i>
  </div>
  <div class="result-div" *ngIf="userResult === 'tesoura' && computerResult === 'pedra'">
    <i class="bi bi-scissors" style="font-size: 48px; margin-right: 7px; color: black;"></i>
    <p class="versus">X</p>
    <img src="../assets/images/icons8-rock-60.png" alt="">
  </div>
  <div class="result-div" *ngIf="userResult === 'tesoura' && computerResult === 'papel'">
    <i class="bi bi-scissors" style="font-size: 48px; margin-right: 7px; color: black;"></i>
    <p class="versus">X</p>
    <img src="../assets/images/icons8-paper-50.png" alt="">
  </div>
  <div class="result-div" *ngIf="userResult === 'pedra' && computerResult === 'pedra'">
    <img src="../assets/images/icons8-rock-60.png" alt="">
    <p class="versus">X</p>
    <img src="../assets/images/icons8-rock-60.png" alt="">
  </div>
  <div class="result-div" *ngIf="userResult === 'papel' && computerResult === 'papel'">
    <img src="../assets/images/icons8-rock-60.png" alt="">
    <p class="versus">X</p>
    <img src="../assets/images/icons8-rock-60.png" alt="">
  </div>
  <div class="result-div" *ngIf="userResult === 'tesoura' && computerResult === 'tesoura'">
    <i class="bi bi-scissors" style="font-size: 48px; margin-right: 7px; color: black;"></i>
    <p class="versus">X</p>
    <i class="bi bi-scissors" style="font-size: 48px; margin-right: 7px; color: black;"></i>
  </div>
  <h1 class="result">{{ result }}</h1>
</footer>